<html>
<body>
    <style>
        one {
            /*font-family:'Playfair Display',serif;*/

            background-color: #f4f4f4;
            align-content: center;
            min-height: 100vh;
            text-align: center;
        }
    </style>
    <h1>
        About Us
        <style>
            h1 {
                text-align: center;
                text-transform: uppercase;
                font-size: 36px;
                letter-spacing: 6px;
                opacity: 0.9;
            }
        </style>
    </h1>
    <div class="image">
        <img src="~/Images/aboutus.jpg" width="1000" height="600" text-alignt="center" margin-left="35px">
    </div>

    <div class="content">

        <span></span>
        <p>
            This website is to sell different categories of plants hence the name "GREENERY".Might be uncommon but so are we.
            This website will be helpful to them who are interested in gardening and also farming.
            Through this website one can purchase their desired plant and seed .
            Here ther's no delivery charge whatsoever to delivery your happiness.
            We just don't seel things, we sell needs, we gain love & most of all we want all of us to be happy.
            It’s also helpful in this covid situation.
            <style>
                p {
                    padding-bottom: 15px;
                    font-weight: 500;
                    opacity: 0.7;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    width: 87%;
                    text-align: match-parent;
                    line-height: 1.7;
                }
            </style>
        </p>

    </div>
</body>
<h1>
   Our Team
    <style>
        h1 {
            text-align: center;
            text-transform: uppercase;
            font-size: 36px;
            letter-spacing: 6px;
            opacity: 0.9;
        }
    </style>
</h1>
<section id="service" class="service py-5">


    <div class="col mx-auto align-items-center my-5">

        <div class="row mx-auto justify-content-center align-items-center text-center container">
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2" style=" background: white; margin-left: 50px;">

                <img class="img-fluid w-75" src="~/Images/nuha1.jpg" style="height: 158px; width: 133px; border-radius: 50%;">
                <h5 class="font-weight-bold pt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:25px;">Aysha Shiddika</h5>
                <p>
                    ID:180104054
                    <br>
                    phone: + 0123456789
                    <br>
                    Emai:180104054@aust.edu

                </p>
            </div>
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2" style=" background: white; margin-left: 50px; height: 265px; ">

                <img class="img-fluid w-75" src="~/Images/rumman.jpg" style="height: 158px; width: 133px; border-radius: 50%;">
                <h5 class="font-weight-bold pt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:25px;">Umma Rumman</h5>
                <p>
                    ID:180104055
                    <br>
                    phone: + 01673456789
                    <br>
                    Emai:180104055@aust.edu

                </p>
            </div>
            <div class="one col-lg-3 col-md-3 col-12 w-25 m-2">
                <img class="img-fluid w-75" src="~/Images/Shafique.JPG" style="height: 158px; width: 133px; border-radius: 50%;">
                <h5 class="font-weight-bold pt-4" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:25px;">Mohammad Shafique</h5>
                <p>
                    ID:180104059
                    <br>
                    phone: + 01230956789
                    <br>
                    Emai:180104059@aust.edu

                </p>
            </div>





        </div>
    </div>
</section>


</html>