@{
    ViewBag.Title = "Home Page";
}


<section class="showcase">

    <style>
        .showcase {
            position: absolute;
            right: 0;
            width: 100%;
            min-height: 100vh;
            padding: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #111;
            transition: 0.2s;
            z-index: 2;
        }
    </style>
    <div class="glyphicon-hd-video">
        <video src="~/Images/vedio2.mp4" muted loop autoplay
               style=" position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; opacity: 0.5;">
        </video>
    </div>
    <div class="overlay" style="color: white; "></div>
    <div class="text" style="position: relative; z-index: 10;">
            <h2 style="font-size: 5em; font-size: 5em;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: 500; color: #fff; line-height: 1em; text-transform: uppercase;">Welcome to Greenery </h2>
            <p style="font-size: 1.1em; color: #fff; margin: 20px 0; font-weight: 400; max-width: 700px;">

            </p>
            <a href="https://localhost:44313/Clients/UserLogin" style=" display: inline-block; font-size: 1em; background: #fff; padding: 10px 30px;border:10px ;text-transform: uppercase; text-decoration: none; font-weight: 500; margin-top: 10px; color: #111; letter-spacing: 2px; transition: 0.2s;">Start</a>
    </div>

</section>